/********************************==[Contents]==*************************************

UI/CSS

autor 	    : Rodrigo Ahumada, Front-end Developer
site 	    : http://rholo.cl  @elRholo
version     : 3.0
CSS version : 3.0

Support:
Chrome (any)
Opera 8.5+
Firefox (any)
Safari 3
IE9+
IE8(change rem unit)

**************************************************************************************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video,img,main, input, textarea, select
{border:0;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/********************************==[HTML5]==*************************************/
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video,main,img{display:block;}
/********************************==[body, HTML]==*************************************/

html
{font-size:62.5%;-webkit-text-size-adjust: 62.5%;-ms-text-size-adjust: 62.5%;}
body
{font-weight:normal;line-height: 1.6875;
-webkit-font-smoothing  : antialiased;
-webkit-touch-callout   : none;
-webkit-text-size-adjust: none;
-webkit-user-select     : text;
}

/********************************==[Family Font]==*************************************/

body{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}

/********************************==[Headings]==*************************************/

h1  {font-size:2.6rem;}
h2  {font-size:2.4rem;}
h3  {font-size:2.2rem;}
h4  {font-size:2.0rem;}
h5  {font-size:1.8rem;}
h6  {font-size:1.6rem;}

/********************************==[Paragraphs]==*************************************/

p, span
{font-size:1.4rem;color:inherit;line-height:1.8;}

/********************************==[Links]==*************************************/

a{text-decoration:none;color: inherit;}
a:hover{text-decoration: underline;}
a,a:link,a:visited,a:hover,a:active{outline:0;}
a img{border:0;}

/********************************==[List]==*************************************/

li{list-style-type:none;}

/********************************==[Inputs]==*************************************/

textarea        {vertical-align:top;resize:vertical;font-family:inherit;min-height:150px;}
input,select    {vertical-align:middle;}
select          {-webkit-appearance: menulist-button;}

/********************************==[Buttons]==*************************************/

input[type="button"],input[type="text"],input[type="password"],select,button,textarea
{padding:8px 10px;border:0;color:#888;display: block;width:100%;}

button,input[type="button"],input[type="reset"],input[type="submit"]
{cursor: pointer; -webkit-appearance: button;font-weight: 700;}

/********************************==[Table]==*************************************/

table       {border-collapse:collapse;border-spacing:0;max-width: 100%;width:100%;text-align: center;}
tbody > tr  {border-bottom:1px solid #eee}
td, tr      {border:0;}
td + td     {border-left:1px solid #ccc}
td          {padding:4px;color:#5c5c5c;}
th          {border-bottom:1px solid #eee;padding:5px 8px;color:#5c5c5c;}
tfoot td    {padding:5px}
tbody       {color:#9B9B9A;}
